################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PromotionEngine/obj
/PromotionEngine/.vs/PromotionEngine/v16
/.vscode
/PromotionEngine/.vscode
/PromotionEngine.UnitTests/obj
/PromotionEngine.UnitTests/bin/Debug/netcoreapp3.1
/PromotionEngine/bin/Debug/netcoreapp3.1
